# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode

# Mac
.DS_Store

# Maven
log/
target/
/target/

# Reports
test-output/
reports/
allure-results/
allure-report/
.allure